<!-- Team Member 1 -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-0 shadow">
    <img src="https://i.picsum.photos/id/1062/200/300.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">{{this.nombre}}</h5>
      <div class="card-text text-black-50">{{this.descripcion}}</div>
        <a href="./perfil_tamagochi/{{this.nombre}}" id="perfil_button_{{this.nombre}}"class="btn btn-info">
          VER PERFIL
        </a>
    </div>
  </div>
</div>
